################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleCPUTool/v16
/ConsoleCPUTool/bin/Debug
/ConsoleCPUTool/obj/Debug
